@page "/log"

@attribute [Authorize]

<h3>Log</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Log Water Consumption</h1>
            <label for="fluid-ounces-consumed">Fluid Ounces Consumed</label>
            <input id="fluid-ounces-consumed" type="number" class="form-control" @bind="FluidOuncesConsumed" />
            <button class="btn btn-primary" onclick="@(async () => await LogConsumption())">Log</button>
        </div>
    </div>
    @if (false) { // "feature flag"
        <div class="row">
            <div class="col-md-12">
                <input id="log-date-picker" 
                       type="date" 
                       min="2020-01-01"
                       max="2030-01-01"
                       @bind="LogDatePicker" />
            </div>
            <div class="col-md-6">
                <h2>Time Consumed</h2>
            </div>
            <div class="col-md-6">
                <h2>Amount Consumed</h2>
            </div>
    
            @{
                var logsExistForDay = Logs.ContainsKey((
                    $"{LogDatePicker.Year}", 
                    $"{LogDatePicker.Month}", 
                    $"{LogDatePicker.Day}"));
            }
            @if (logsExistForDay)
            {
                @foreach (var log in Logs[(
                              $"{LogDatePicker.Year}", 
                              $"{LogDatePicker.Month}", 
                              $"{LogDatePicker.Day}")] )
                {
                    <div class="col-md-6">
                        <h2>@log.Item1</h2>
                    </div>
                    <div class="col-md-6">
                        <h2>@log.Item2</h2>
                    </div>
                }
            }
            @if(logsExistForDay == false) 
            {
                <div class="col-md-12">Day Not In Logged Consumptions</div>
            }
            @if(logsExistForDay == true && Logs[(
                    $"{LogDatePicker.Year}", 
                    $"{LogDatePicker.Month}", 
                    $"{LogDatePicker.Day}")].Any() == false) 
            {
                <div class="col-md-12">No Water Consumed</div>
            }
        </div>
    }
</div>